@import url('https://fonts.googleapis.com/css2?family=Cherry+Swash:wght@400;700&family=KoHo:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

html{
background-color: #C0DCEC;
}

header {
margin-top: -10px;
display: grid;
grid-template-columns: 150px auto;
background-color: rgba(20, 30, 13, 0.7);
align-items: center;
}

body{
max-width: 70rem;
margin: 0 auto;
flex-direction: column;
font-family: 'Cherry Swash' , 'Koho';
width: 70rem;
align-items: center;
    
}
nav {
display : flex;
justify-content : space-around;
z-index : 2;
}
nav a {
text-decoration : none;
color : #fcfbfb;
text-align : center;
padding : 40px;
font-family: 'Koho';
}
nav a:hover {
background-color : rgb(243, 243, 243);
color : #9e8c74;
}
.logo {
border-radius : 75px;
width : 90px;
}

#home {
display : grid;
grid-template-columns : 1fr 1fr 1fr;
grid-column : 1 / 3;
grid-row : 1 / 3;
 margin-top : -150px;
}
#home-box {
display : grid;
grid-column : 1 / 4;
grid-row : 1 / 3;
z-index : -1;
}
#home-img {
width : 100%;
}
.home-grid {
display : grid;
grid-template-columns : 1fr;
grid-template-rows : 1fr 1fr;
}
.h_gp {
display : grid;
grid-template-columns : 1fr 1fr;
grid-row : 1 / 2;
align-self: center;
grid-gap: 20px;

}
.h_gp .h2p{
grid-column : 2 / 3;
background-image: linear-gradient(#1B1C2D, #245962, #2D9596) ;
margin-top: 20px;
height: 95% ;
border-radius: 10px ;


}
.h2p h2{
    margin-left: 15px;
    margin-right: 15px;
}
.h2p{
font-size: 16px;
line-height: 30px;
color: #FFFFFF;
}
.h2p p{
    margin-right: 15px;
    margin-left: 15px;
}


.home_side {
grid-column : 1 / 2;
margin-top : 20px;
width : 100%;
height: 95%;
border-radius: 10px;
}
    
figcaption{
text-align: center;
font-weight: bold;
font-size: 1.2rem;
color:#1B1C2D ;
}
#images_h {
display: grid;
grid-template-columns: 1fr 1fr 1fr;
grid-gap: 10px;
margin-top: 45px;

}
#img-h1 {
grid-column: 1/2;
width: 100%;
height: 70%;
border-radius: 40px;

}
#img-h2 {
grid-column: 2/3;
width: 100%;
height: 70%;
border-radius: 40px;
}
#img-h3 {
grid-column: 3/4;
width: 100%;
height: 70%;
border-radius: 40px;
}

    
footer p {
font-size: 1.2em;
color: #FFFFFF;
}


footer p a:hover {
text-decoration: underline;
}

footer a {
text-align: center;
text-decoration: none;
color: #FFFFFF;
}

footer {
display: flex;
width: 100%;
height: 100px;
justify-content: space-around;
align-items: center;
background: rgb(2, 0, 36);
background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(27, 28, 45, 1) 13%, rgba(0, 212, 255, 1) 100%);
font-family: 'KoHo';
}
#img-s4{
width: 100%;
border-radius: 40px;
}

.icon {
border-radius : 75px;
}
