.circles{
    max-width: max-content;
}

.desk{
    width: 10%;
    border-radius: 50%;
    }
.graphic{
    width: 10%;
    border-radius: 50%;

}
.person{
    width: 10%;
    border-radius: 50%;
}
#w05{
    background-color: #585758fa;
}