.desk{
     width: 20%;
     margin-top: 63;
    }
    #w05{
       background-color: #911515;
    } 
.desk{
    width: 20%;
    margin-top: 63;
    }
.graphic{
    width: 20%;
     margin-top: 63;
}
.person{
    width: 20%;
     margin-top: 63;
}